*{
    margin: 0;
    padding: 0;
}
#content{
    background-image: url("../image/bg.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.page{
    width: 100%;
    height:100%;
}
.head{
    height: auto;
}
.head p{
    font-size: 50px;
    font-style: oblique;
    color:#65b4e1ad;
}

.searchForm{
    width: 25%;
    height:200px;
    border:1px solid black;
    margin: 200px auto;
}
/*.head button{*/
    /*margin-left: 500px;*/
/*}*/
/*.searchForm{*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin-top: 80px;*/
/*}*/
/*.glyphicon-user{*/
    /*color: white;*/
/*}*/
/*.head-icon{*/

/*}*/
/*#id_a {*/
    /*height: 32px;*/
    /*width: 32px;*/
    /*border-radius: 16px;*/
    /*!*background-color: #555;*!*/
    /*background-size: 193px 179px;*/
    /*background-position: -5px -116px;*/
    /*background: transparent url(../image/icon.png) no-repeat;*/
/*}*/

