.poster-main {
    width: 50%;
    min-height: 1500px;
    background-color: #e2e2e2;
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
}

.poster-main .tab {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.poster-main .tab span {
    border-bottom: 1px dotted black;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.activityTab {
    background-color: #bfbebe;
}

.poster-main >.contents {
    flex: 1;
    min-height: 1500px;
    margin-left: 30px;
    background-color: white;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster-main .orderItem{
    width: 80%;
    padding: 20px 10px;
    border: 2px solid #ccc;
    margin-top: 20px;
    box-shadow: #cccccc;
    border-radius: 10px;
}

.poster-main .orderItem div{
    padding: 10px 0;
}

.orderItemBtn{
    display: flex;
    justify-content: space-between;
}
.finishBtn{
    color: #fff;
    /*background-color: #00afc7;*/
    background-color: #ccc;
    line-height: 30px;
    padding: 0;
    padding-left: 2px;
    width: 118px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 3px;
    text-align: center;
    /*border: 1px solid #B51919;*/
    position: relative;
    -webkit-transition: top .2s;
    transition: top .2s;
    top: 0;
    height: 40px;
}
/*.signInBtn {*/
    /*color: #fff;*/
    /*background-color: #41b4ca;*/
    /*line-height: 30px;*/
    /*padding: 0;*/
    /*padding-left: 2px;*/
    /*width: 118px;*/
    /*font-size: 14px;*/
    /*letter-spacing: 2px;*/
    /*border-radius: 3px;*/
    /*text-align: center;*/
    /*!*border: 1px solid #B51919;*!*/
    /*position: relative;*/
    /*-webkit-transition: top .2s;*/
    /*transition: top .2s;*/
    /*top: 0;*/
    /*height: 40px;*/
    /*margin-top: 30px;*/
/*}*/

.notFinishBtn{
    color: #fff;
    /*background-color: #00afc7;*/
    background-color: #41b4ca;
    line-height: 30px;
    padding: 0;
    padding-left: 2px;
    width: 118px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 3px;
    text-align: center;
    /*border: 1px solid #B51919;*/
    position: relative;
    -webkit-transition: top .2s;
    transition: top .2s;
    top: 0;
    height: 40px;
}